.detail-container {
  width: 30rem;
  margin-left: 32px;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  box-shadow: 0 0.13rem 0.3rem rgba(0, 0, 0, 0.2);
  color: grey;
}

.row {
  display: flex;
  margin: 0.5rem 0;
}

.image-container {
  justify-content: center;
  margin-bottom: 1rem;
}

.product-title {
  font-weight: 700;
}

.product-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.89rem;
}

.price-container {
  margin-top: 0.75rem;
}

.product-price {
  font-weight: 700;
}

.product-image {
  max-width: 75%;
}

@media screen and (max-width: 1000px) {
  .detail-container {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .product-image {
    max-height: 28rem;
  }
}
